<div class="container">
  <div class="images">
    <div class="mainimg">
      <img [src]="mainimg" [alt]="product?.name" />
    </div>
    <div class="secondaryimgs">
      <img
        (click)="immain(product.media[0].img)"
        [src]="product?.media[0].img"
        [alt]="product?.name"
      />
      <img
        (click)="immain(product.media[1].img)"
        [src]="product?.media[1].img"
        [alt]="product?.name"
      />
      <img
        (click)="immain(product.media[2].img)"
        [src]="product?.media[2].img"
        [alt]="product?.name"
      />
      <img
        (click)="immain(product.media[3].img)"
        [src]="product?.media[3].img"
        [alt]="product?.name"
      />
    </div>
    <span class="percetnage" *ngIf="product?.price.prev.value != null"
      >{{
        product?.price.current.value | solde : product?.price.prev.value
      }}%</span
    >
    <span class="sellingfast" *ngIf="product?.isSellingFast"
      ><i class="fa-solid fa-bolt"></i> SELLING FAST</span
    >
  </div>
  <div class="prodbody">
    <div class="name">
      <h5>{{ name | titlecase }}</h5>
    </div>
    <div *ngIf="product?.price.prev.value != null">
      <h5 class="solde">Now {{ product?.price.current.text }}</h5>
      <p>
        Was {{ product?.price.prev.text }}
        <span
          >(-{{
            product?.price.current.value | solde : product?.price.prev.value
          }}%)</span
        >
      </p>
    </div>
    <div *ngIf="product?.price.prev.value == null">
      <h5 class="normalp">{{ product?.price.current.text }}</h5>
    </div>
    <div class="info">
      <p>Brand : {{ product?.brandName }}</p>
      <p>Creation Date : {{ product?.dateCreation | date }}</p>
    </div>
    <div class="curr">
      <form [formGroup]="currency">
        <select formControlName="choice" (change)="convertIt()">
          <option [value]="count" *ngFor="let count of keys">
            {{ currency_list[count] }}
          </option>
        </select>
      </form>
      <div class="converted" *ngIf="converted != undefined">
        <span>Converted Price :</span>
        <b>{{ converted | currency : currency.value["choice"] }}</b>
      </div>
    </div>
    <div class="card delivery" style="width: 100%">
      <div class="card-header">Delivery Info</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <i class="fa-solid fa-truck"></i>
          <span class="del"> Free Delivery</span>
        </li>
        <li class="list-group-item">
          <i class="bx bxs-package"></i>
          <span class="del">Delivery Within 3 Business Days</span>
        </li>
      </ul>
    </div>
    <div
      class="alert alert-danger errcart text-center"
      *ngIf="carterr != undefined"
    >
      <i class="fa-solid fa-triangle-exclamation"></i>

      {{ carterr | titlecase }}
    </div>
    <div
      class="alert alert-success text-center errcart"
      *ngIf="succcart == true"
    >
      <i class="fa-solid fa-check"></i>

      Product Added To Your Cart !
    </div>
    <button class="addtocart" (click)="addToCart()">ADD TO CART</button>
  </div>
</div>

<div class="comments-section row" *ngIf="product?.comments != null">
  <div class="title">
    <h4>Ratings & Reviews</h4>
    <div class="cards">
      <div class="comments" *ngFor="let comment of comments">
        <div class="card text-center" style="width: 17rem">
          <div class="card-header">
            <div class="comment-rating">
              <span *ngIf="comment.rate == 5">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
              </span>
              <span *ngIf="comment.rate == 4">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bx-star"></i>
              </span>
              <span *ngIf="comment.rate == 3">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
              </span>
              <span *ngIf="comment.rate == 2">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
              </span>
              <span *ngIf="comment.rate == 1">
                <i class="bx bxs-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
              </span>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <div class="username">
                <span>@{{ comment.userName | uppercase }}</span>
              </div>
            </h5>
            <div class="card-text">
              <div class="comment">
                <span>{{ comment.comment | titlecase }}</span>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted">
            <div class="dateposted">
              <span>{{ comment.dateR | date }}</span>
              <span> ({{ comment.dateR | days }} Days Ago)</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="review" (ngSubmit)="addReview()">
  <div class="card comms">
    <div
      class="alert alert-danger err text-center"
      *ngIf="errmess != undefined"
    >
      <i class="fa-solid fa-triangle-exclamation"></i>

      {{ errmess | titlecase }}
    </div>
    <div
      *ngIf="comment && comment.invalid && comment.touched"
      class="alert alert-danger text-center emailreq"
    >
      <i class="fa-solid fa-triangle-exclamation"></i> Comment cant be empty
    </div>
    <div class="card-body p-4">
      <div class="d-flex flex-start w-100">
        <img
          class="rounded-circle shadow-1-strong me-3"
          src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
          alt="avatar"
          width="65"
          height="65"
        />
        <div class="w-100">
          <p *ngIf="username != undefined">@{{ username | uppercase }}</p>
          <h5>Add a comment</h5>
          <label for="rate">Rate Product :</label>
          <select name="rate" id="rate" formControlName="rate" class="select">
            <option value="1">1/5</option>
            <option value="2">2/5</option>
            <option value="3">3/5</option>
            <option value="4">4/5</option>
            <option value="5">5/5</option>
          </select>
          <div class="form-outline">
            <textarea
              class="form-control"
              id="textAreaExample"
              rows="4"
              formControlName="comment"
            ></textarea>
            <label class="form-label text-secondary" for="textAreaExample"
              >What is your review?</label
            >
          </div>
          <div class="d-flex justify-content-between mt-3">
            <button
              type="submit"
              class="btn btn-secondary"
              [disabled]="review.invalid"
            >
              Send <i class="fas fa-long-arrow-alt-right ms-1"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
