.images .mainimg img {
  height: 40rem;
  width: auto;
}
.images {
  position: relative;
}
.container {
  display: flex;
  justify-content: center;
  width: 70%;
  padding-top: 3rem;
}
i {
  font-size: 1rem;
}
.delivery {
  margin-top: 3rem;
  text-align: center;
}
.delivery .card-header {
  padding: 2rem;
}
.list-group-item {
  padding: 1rem;
}
.addtocart {
  color: #fff;
  background-color: black;
  letter-spacing: 0.2rem;
  border: none;
  width: 100%;
  height: 10%;
  margin-top: 3.5rem;
  font-weight: 500;
}
.solde,
.normalp {
  color: #f10c0c;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 1rem 0 0 0;
}
.normalp {
  color: rgb(71, 71, 71);
}
.comms {
  width: 40rem;
  margin-left: 30%;
}
.secondaryimgs {
  display: flex;
  justify-content: space-evenly;
}
.secondaryimgs img {
  width: 5rem;
  padding: 1rem;
  cursor: pointer;
}
.prodbody {
  padding: 2rem;
  width: 25rem;
}

.percetnage {
  position: absolute;
  top: 5%;
  color: #f10c0c;
  background-color: rgba(255, 255, 255, 0.778);
  padding: 0.2rem 0.4rem;
  border-top-right-radius: 1rem;
}
.sellingfast {
  position: absolute;
  top: 65%;
  right: 0;
  color: #fff;
  background-color: rgba(4, 4, 4, 0.549);
  padding: 0.4rem 0.7rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  letter-spacing: 0.1rem;
}
.comments,
.cards {
  display: inline-block;
  padding: 2rem;
}
.card {
  display: inline-block;
}
.title h4 {
  text-align: center;
  margin-top: 3rem;
  font-size: 3rem;
}
.emailreq {
  margin-bottom: 1rem;
}
.errcart {
  margin-top: 1rem;
  margin-bottom: 0;
}
