<div class="womenelems">
  <div class="text-center">
    <div class="shopforjackets text-center">
      <img
        src="https://content.asos-media.com/-/media/homepages/ww/2022/nov/29/ww_global_raw_edge_desktophero_1258x600.jpg"
        alt=""
      />
      <button routerLink="/women/sportswear/cat/26091" class="shopbutton">
        SHOP FOR SPORTSWEAR
      </button>
    </div>
  </div>
</div>
<div class="cont">
  <div class="fur">
    <div class="shopforjackets text-center">
      <img
        src="https://images.asos-media.com/products/topshop-faux-leather-cropped-car-coat-with-faux-fur-trims-in-white/201901961-4?$n_240w$&wid=500&fit=constrain"
        alt=""
      />
      <button
        routerLink="/women/coats-&-jackets/cat/11900"
        class="minishopbutton"
      >
        SHOP FOR FUR COATS
      </button>
    </div>
  </div>
  <div class="fur">
    <div class="shopforjackets text-center">
      <img
        src="https://content.asos-media.com/-/media/homepages/ww/2022/nov/29/wwglobalfbmoment870x1110.jpg"
        alt=""
      />
      <button routerLink="/women/face-body/cat/1314" class="minishopbutton">
        SHOP FOR FACE + BODY
      </button>
    </div>
  </div>
</div>
