.logo img {
  width: 7rem;
  height: 4rem;
  margin-top: 15%;
}
.logo {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  cursor: pointer;
}
.searchbar {
  width: 30rem;
  border-radius: 5rem;
  padding: 0.5rem 1rem;
}

.seaicom {
  font-size: 1.5rem;
  margin-left: 0.3rem;
  vertical-align: middle;
  cursor: pointer;
}
.top_row {
  display: flex;
  justify-content: space-between;
}
.bar {
  padding: 3rem 2rem;
}
.login,
.cart {
  padding: 2rem 1rem;
}
a {
  text-decoration: none;
}
.menu {
  display: flex;
  justify-content: space-between;
  font-family: "Didact Gothic", sans-serif;
  padding: 0 20rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(38, 38, 38);
  letter-spacing: 0.15em;
}
.end {
  display: flex;
  justify-content: space-evenly;
}
body,
html {
  margin: 0;
  font: bold 14px/1.4 "Open Sans", arial, sans-serif;
  background: #000;
}
.login i,
.cart i {
  display: block;
  text-align: center;
}
a {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 5rem;
  position: relative;
}

.menu a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ff0000;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
  width: 0;
}
.menu a:hover:after {
  width: 100%;
  left: 0;
}
@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}
.active {
  background-color: rgb(113, 113, 113);
  color: white;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

#lblCartCount {
  font-family: "Didact Gothic", sans-serif !important;
  text-align: center;
  font-size: 90%;
  background: #ff0000;
  color: #fff;
  padding: 1px 5px;
  vertical-align: top;
  margin-left: -5px;
}
