<div class="header">
  <div class="top_row">
    <div class="logo">
      <img routerLink="/" src="assets/images/9ach.png" alt="9ACHLOGO" />
    </div>
    <div class="search">
      <div class="bar">
        <input
          class="searchbar"
          type="text"
          placeholder="search for products"
          #search
          (change)="getSearch(search.value)"
        />

        <i [routerLink]="['/search/', query]" class="bx bx-search seaicom"></i>
      </div>
    </div>
    <div class="end">
      <div class="login" *ngIf="!userLogged">
        <a routerLink="/login"><i class="fa-regular fa-user"></i>LOGIN</a>
      </div>
      <div class="login" *ngIf="userLogged">
        <a routerLink="/profile"
          ><i class="fa-regular fa-user"></i>{{ username }}</a
        >
      </div>
      <div class="cart">
        <a routerLink="/cart">
          <i class="bx bx-shopping-bag"
            ><sup class="badge badge-pill badge-warning" id="lblCartCount">
              {{ itemsincart }}
            </sup></i
          >CART</a
        >
      </div>
    </div>
  </div>

  <div class="menu">
    <a routerLink="/men" routerLinkActive="active" class="men">MEN</a>

    <a routerLink="/women" routerLinkActive="active" class="women">WOMEN</a>
  </div>
</div>
