<div class="menelems">
  <div class="text-center">
    <div class="shopforjackets text-center">
      <img
        src="https://content.asos-media.com/-/media/homepages/mw/2022/nov/29/mw_global_party_dress_up_desktophero_1258x600.jpg"
        alt=""
      />
      <button routerLink="/men/coats-&-jackets/cat/3606" class="shopbutton">
        SHOP FOR JACKETS
      </button>
    </div>
  </div>
</div>
<div class="cont">
  <div class="fur">
    <div class="shopforjackets text-center">
      <img
        src="https://images.asos-media.com/products/adidas-football-argentina-world-cup-2022-unisex-home-shirt-in-blue-and-white/202170176-1-white?$n_240w$&wid=3000&fit=constrain"
        alt=""
      />
      <button routerLink="/men/sportswear/cat/26090" class="minishopbutton">
        SHOP FOR SPORTSWEAR
      </button>
    </div>
  </div>
  <div class="fur">
    <div class="shopforjackets text-center">
      <img
        src="https://images.asos-media.com/products/levis-512-slim-taper-lo-ball-jeans-in-light-blue-wash-with-rips/202299494-1-lightblue?$n_240w$&wid=3000&fit=constrain"
        alt=""
      />
      <button routerLink="/men/jeans/cat/4208" class="minishopbutton">
        SHOP FOR JEANS
      </button>
    </div>
  </div>
</div>
