span {
  width: 8rem;
}
.prod {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.nom {
  width: fit-content;
}
.selling {
  padding-left: 1.2rem;
}
.gest {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 70%;
  right: 45%;
}
.item {
  position: relative;
}
