<nav class="navbar">
  <div class="navitems">
    <div class="sale">
      <a class="salelink" routerLinkActive="active" routerLink="sale/cat/8409"
        >SALE</a
      >
    </div>
    <a class="nav-item" routerLinkActive="active" routerLink="new-in/cat/27110"
      >NEW</a
    >
    <a class="nav-item" routerLinkActive="active" routerLink="shoes/cat/4209"
      >SHOES</a
    >
    <a
      class="nav-item"
      routerLinkActive="active"
      routerLink="coats-&-jackets/cat/3606"
      >COATS & JACKETS</a
    >
    <a
      class="nav-item"
      routerLinkActive="active"
      routerLink="hoodies-sweetshirts/cat/5668"
      >HOODIES & SWEETSHIRTS</a
    >
    <a class="nav-item" routerLinkActive="active" routerLink="jeans/cat/4208"
      >JEANS</a
    >
    <a
      class="nav-item"
      routerLinkActive="active"
      routerLink="sportswear/cat/26090"
      >SPORTSWEAR</a
    >
    <a
      class="nav-item"
      routerLinkActive="active"
      routerLink="accessoires/cat/4210"
      >ACCESSOIRES</a
    >
    <a
      class="nav-item"
      routerLinkActive="active"
      routerLink="face-body/cat/19517"
      >FACE + BODY</a
    >
  </div>
</nav>
<router-outlet></router-outlet>
