<div class="product" [routerLink]="['/details', product.id]">
  <div class="top">
    <img class="image" [src]="img1" [alt]="product.name" />
  </div>

  <div class="productbody">
    <div class="name">
      <p class="title">{{ product.name | titlecase }}</p>
    </div>
  </div>
  <div [ngClass]="{ price: true, pricesale: product.price.prev.value }">
    <h5>{{ product.price.current.text }}</h5>
    <p *ngIf="product.price.prev.value != null">
      {{ product.price.prev.text }}
    </p>
    <span class="percetnage" *ngIf="product.price.prev.value != null"
      >{{
        product.price.current.value | solde: product.price.prev.value
      }}%</span
    >
    <span class="sellingfast" *ngIf="product.isSellingFast"
      ><i class="fa-solid fa-bolt"></i> SELLING FAST</span
    >
  </div>
</div>
