.price {
  display: flex;
  vertical-align: middle;
}
.price h5 {
  padding-right: 2px;
}
.pricesale h5 {
  color: #f10c0c;
}
.price p {
  text-decoration: line-through;
}
.productbody {
  height: 4rem;
}
.percetnage {
  position: absolute;
  top: 5%;
  color: #f10c0c;
  background-color: rgba(255, 255, 255, 0.778);
  padding: 0.2rem 0.4rem;
  border-top-right-radius: 1rem;
}
.sellingfast {
  position: absolute;
  top: 65%;
  right: 0;
  color: #fff;
  background-color: rgba(4, 4, 4, 0.549);
  padding: 0.4rem 0.7rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  letter-spacing: 0.1rem;
}

.product {
  position: relative;
  cursor: pointer;
}
