<div class="container">
  <form [formGroup]="Prod" (ngSubmit)="addProd()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Product ID</label>
      <input
        type="text"
        class="form-control"
        placeholder="product id"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="id"
      />
      <div id="emailHelp" class="form-text">Product ID Should be unique.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Product Name</label>
      <input
        type="text"
        placeholder="product name"
        class="form-control"
        id="exampleInputPassword1"
        formControlName="name"
      />
    </div>
    <div class="mb-3">
      <label for="brand" class="form-label">Brand Name</label>
      <input
        type="text"
        class="form-control"
        placeholder="brand"
        id="brand"
        formControlName="brandName"
      />
    </div>
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <label class="form-label" for="currentprice">Current Price</label>
          <input
            type="text"
            id="currentprice"
            placeholder="Current Price"
            class="form-control"
            formControlName="current"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <label class="form-label" for="prevprice">Previous Price</label>
          <input
            type="text"
            id="prevprice"
            placeholder="Previous Price"
            class="form-control"
            formControlName="prev"
          />
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="creation" class="form-label">Creation Date</label>
      <input
        type="date"
        class="form-control"
        id="creation"
        formControlName="dateCreation"
      />
    </div>
    <div class="mb-3 ml-4">
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="sellingfast"
          formControlName="isSellingFast"
          checked
        />
        <label class="form-label" for="sellingfast"> Selling Fast </label>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-check-label" for="categ"> Category </label>
      <select
        class="form-select"
        id="categ"
        aria-label="Default select example"
        formControlName="categorie"
      >
        <optgroup label="Men">
          <option value="8409">Sale</option>
          <option value="27110">New In</option>
          <option value="4209">Shoes</option>
          <option value="3606">Coats & Jackets</option>
          <option value="5668">Hoodies & Sweatshirts</option>
          <option value="4208">Jeans</option>
          <option value="26090">SportsWear</option>
          <option value="4210">Accessoires</option>
          <option value="19517">Face + Body</option>
        </optgroup>
        <optgroup label="Women">
          <option value="7046">Sale</option>
          <option value="27108">New In</option>
          <option value="2623">New In Clothing</option>
          <option value="6992">New In Shoes</option>
          <option value="27109">New In Accessoires</option>
          <option value="4172">Shoes</option>

          <option value="2426">New In Face + Body</option>
          <option value="6455">Boots</option>
          <option value="6456">Trainers</option>
          <option value="6461">Heels</option>
          <option value="2641">Coats & Jackets</option>
          <option value="11895">Leather Jackets</option>
          <option value="28643">Puffer Jackets</option>
          <option value="11900">Faux Fur Coats</option>
          <option value="8799">Dresses</option>
          <option value="3630">Jeans</option>
          <option value="26091">SportsWear</option>
          <option value="4174">Accessoires</option>
          <option value="1314">Face + Body</option>
          <option value="4540">Skin Care</option>
          <option value="5021">Hair Care</option>
          <option value="5020">Makeup</option>
          <option value="28425">Fragrances</option>
        </optgroup>
      </select>
    </div>
    <div class="mb-3">
      <label for="images" class="form-label">Images</label>
      <input
        type="text"
        placeholder="Image 1"
        class="form-control mb-3"
        id="images"
        formControlName="img1"
      />
      <input
        type="text"
        placeholder="Image 2"
        class="form-control mb-3"
        formControlName="img2"
      />
      <input
        type="text"
        placeholder="Image 3"
        class="form-control mb-3"
        formControlName="img3"
      />
      <input
        type="text"
        placeholder="Image 4"
        class="form-control mb-3"
        formControlName="img4"
      />
    </div>
    <div class="alert alert-danger text-center" *ngIf="errormsg != undefined">
      <i class="fa-solid fa-triangle-exclamation"></i>

      {{ errormsg | titlecase }}
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-dark">Add Product</button>
    </div>
  </form>
</div>
